.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.bottomContainer{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d88852;
    width: 100%;
}

.a{
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
}

.p{
    color: white;
}

.logo{
    height: 30px;
}