.header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(48, 48, 48, 0.3);

    z-index: 9999;
}

.nav{
    display: flex;
    gap: 80px;
}

.nav a{
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: black;
    transition: all 0.3s ease;
    text-decoration: none;
}

.nav a:hover{
    color: #d88852;
}

.hamburger {
    display: none;
    color: black;
    font-size: 28px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav{
        display: none;
        flex-direction: column;
        position: absolute;
        right: 20px;
        top: 60px;
        border: 2px solid black;
        padding: 20px 40px 20px 10px;

        z-index: 9999;
    }

    .active{
        display: flex;
    }

    .hamburger{
        display: block;
    }
}

.logo{
    height: 50px;
    cursor: pointer;
}

