.heroSectionPic{
    position: absolute;
    max-height: 1024px;
    min-height: 512px;
    top: -130px;
    right: 0;
    z-index: -1;
}

.container{
    position: relative;
    width: 100%;
}

.button{
    position: absolute;
    border: 4px solid #d88852;
    width: 500px;
    height: 100px;
    border-radius: 15px;
    font-size: 20px;
    background-color: transparent;
    font-weight: bold;
    color: #d88852;
    left: 60px;
    transition: all ease-in 0.2s;
    z-index: 1;
    cursor: pointer;
    top: 500px;
}

.button:hover{
    background-color: #d88852;
    color: white;
}

.phraseCTA {
    position: absolute;
    width: 360px;
    top: 200px;
    left: 70px;
    line-height: 65px;
    font-weight: bold;
    font-size: 46px;
    color: black;
}

.highlight{
    color: #d88852;
}

.animatedText{
    position: absolute;
    top: 340px;
    left: 70px;
}

@media screen and (min-width: 640px) and (max-width: 1100px) {
    .heroSectionPic{
        opacity: 0.4;
    }
}

@media (max-width: 639px) {
    .heroSectionPic{
        position: absolute;
        opacity: 0.2;
        height: 724px;
        top: 0;
        right: 0;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 90px;
    }

    .button{
        position: static;
        display: block;
        width: 80%;
        margin-top: 55px
    }

    .animatedText{
        position: static;
    }

    .phraseCTA {
        position: static;
    }
}
