.heroSectionPic{
    height: 512px;
    overflow: hidden;
    z-index: -1;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    height: 512px;
}

.LeftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.button{
    border: 4px solid #d88852;
    width: 460px;
    height: 100px;
    border-radius: 15px;
    font-size: 20px;
    background-color: transparent;
    font-weight: bold;
    color: #d88852;
    transition: all ease-in 0.2s;
    z-index: 1;
    cursor: pointer;
}

.button:hover{
    background-color: #d88852;
    color: white;
}

.phraseCTA {
    width: 360px;
    line-height: 58px;
    font-weight: bold;
    font-size: 46px;
    color: black;
}

.highlight {
    color: #d88852;
}

.animatedText{
    font-size: 46px;
}

@media screen and (max-device-width: 1200px) {
    .container {
        position: relative;

        z-index: 1;
    }

    .container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--bg-image);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.3;
        z-index: -1;
    }

    .button{
        background-color: #d88852;
        color: white;
    }

    .LeftContainer{
        padding-top: 30px;
        justify-content: flex-start;
        align-items: center;
    }
    .heroSectionPic{
        display: none;
    }

    .button{
        width: 100%;
    }

    .phraseCTA{
        line-height: 45px;
        font-size: 36px;
    }

    .animatedText{
        font-size: 36px;
    }
}