.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 70px;
    margin-top: 90px;
    width: 100%;
    gap: 30px;
}

.h1{
    font-size: 46px;
    font-weight: bold;
    color: black;
}

.pricing {
    color: #d88852;
    font-style: italic;
}

.plansContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}


/*Mock plan */

.mockplan{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 449px;
    width: 262px;
    background-image: var(--bg-image-mock);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;
}

.mockh1{
    color: #d88852;
    font-size: 28px;
}

.mockul{
    color: #d88852;
    line-height: 30px;
}

.mockprice{
    color: #d88852;
    font-size: 32px;
    text-align: center;
}

/*Basic plan*/

.basicplan{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 538.8px;
    width: 314.4px;
    background-image: var(--bg-image-basic);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 18px;
}

.basich1{
    color: white;
    font-size: 28px;
}

.basicul{
    line-height: 30px;
    color: white;
}

.basicprice{
    color: #d88852;
    font-size: 32px;
    text-align: center;
}

/*Pro*/

.proplan{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 449px;
    width: 262px;
    background-image: var(--bg-image-mock);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;
}

.proh1{
    color: #d88852;
    font-size: 28px;
}

.proul{
    color: #d88852;
    line-height: 30px;
}

.proprice{
    color: #d88852;
    font-size: 32px;
    text-align: center;
}