.button{
    border: 4px solid white;
    width: 100%;
    height: 100px;
    border-radius: 15px;
    font-size: 20px;
    background-color: transparent;
    font-weight: bold;
    color: white;
    z-index: 10;
    cursor: pointer;
    transition: all ease-in 0.2s;
    scroll-margin-top: 100px;
}

.button:hover{
    font-size: 24px;
}

.container{
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    align-items: center;
}

.LogoFlatNU{
    margin-top: 5px;
    width: 15%;
    max-width : 100px;
    min-width : 50px;
}

@media (max-width: 1170px){
    .container{
        align-items: start;
    }
}

@media (max-width: 700px){
    .LogoFlatNU{
        width: 25%;
    }
}

@media (max-width: 500px){
    .LogoFlatNU{
        width: 30%;
    }
}