.typingContainer {
    display: inline-block;
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: black;
}

.typingText {
    letter-spacing: 1px;
}

.cursor {
    display: inline-block;
    margin-left: 2px;
    color: black;
    font-weight: normal;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
