.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    scroll-margin-top: 70px;
    gap: 90px;
    width: 100%;
    height: 512px;
    margin-top: 120px;
}

.LogoNU{
    height: 512px;
    overflow: hidden;
    z-index: -1;
}

.RightContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.h1 {
    width: 360px;
    line-height: 58px;
    font-weight: bold;
    font-size: 46px;
    color: black;
}

.p{
    width: 360px;
    font-size: 16px;
    color: black;
}

.highlight {
    color: #d88852;
}

.button{
    border: 4px solid #d88852;
    width: 460px;
    height: 100px;
    border-radius: 15px;
    font-size: 20px;
    background-color: transparent;
    font-weight: bold;
    color: #d88852;
    transition: all ease-in 0.2s;
    z-index: 1;
    cursor: pointer;
}

.button:hover{
    background-color: #d88852;
    color: white;
}

@media
screen and (max-width: 1200px),
screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min--moz-device-pixel-ratio: 3),
screen and (min-resolution: 3dppx){
    .container {
        position: relative;

        z-index: 1;
    }

    .container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--bg-image);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.3;
        z-index: -1;
    }

    .button{
        background-color: #d88852;
        color: white;
    }

    .RightContainer{
        padding-top: 30px;
        justify-content: flex-start;
        align-items: center;
    }

    .LogoNU{
        display: none;
    }

    .button{
        width: 100%;
    }

    .h1{
        font-size: 36px;
    }
}